<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="Imagens/favicon.ico">
        <link rel="stylesheet" href="CSS/style.css">
        <title>calculadora</title>
    </head>
    <body>
        <div id="name">
            Wanderlei Esteves
        </div>
        <div id="Calculadora">
            <div id="visor">
                <p id="equacao"></p>
            </div>
            <div id="button">
                <button onclick='AdicionarParenAberto()'>(</button>
                <button onclick="AdicionarParenFechado()">)</button>
                <button onclick="">CE</button>
                <button onclick="RetirarUltimoElemento()"><</button>
                <button onclick="CalcularRaiz()">√</button>
                <button onclick="Adicionar('^')">^</button>
                <button onclick="Adicionar('/')">/</button>
                <button onclick="Adicionar('*')">*</button>
                <button onclick="Adicionar('7')">7</button>
                <button onclick="Adicionar('8')">8</button>
                <button onclick="Adicionar('9')">9</button>
                <button onclick="Adicionar('+')">+</button>
                <button onclick="Adicionar('4')">4</button>
                <button onclick="Adicionar('5')">5</button>
                <button onclick="Adicionar('6')">6</button>
                <button onclick="Adicionar('-')">-</button>
                <button onclick="Adicionar('1')">1</button>
                <button onclick="Adicionar('2')">2</button>
                <button onclick="Adicionar('3')">3</button>
                <button id="Igual" onclick="CalcularResultado()">=</button>
                <button onclick="Adicionar('.')">.</button>
                <button onclick="Adicionar('0')">0</button>
                <button onclick="LimparEquacao()">C</button>
            </div>
        </div>
        <script src="../script.js"></script>
    </body>
</html>