<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="Imagens/favicon.ico">
        <link rel="stylesheet" href="CSS/style.css">
        <title>calculadora</title>
    </head>
    <body>
        <div id="Calculadora">
            <p id="visor">

            </p>
            <div id="button">
                <button id="Raiz">√</button>
                <button id="Exponente">^</button>
                <button id="Divisao">/</button>
                <button id="Multiplicacao">*</button>
                <button id="7">7</button>
                <button id="8">8</button>
                <button id="9">9</button>
                <button id="Mais">+</button>
                <button id="4">4</button>
                <button id="5">5</button>
                <button id="6">6</button>
                <button id="Menos">-</button>
                <button id="1">1</button>
                <button id="2">2</button>
                <button id="3">3</button>
                <button id="Igual">=</button>
                <button id="Ponto">.</button>
                <button id="0">0</button>
                <button onclick='document.getElementById("visor").innerHTML = ""' id="Clean">C</button>
            </div>
        </div>
    </body>
</html>